/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
               box-sizing: border-box;
             }
             /*
               2. Remove default margin
             */
             * {
               margin: 0;
             }
             /*
               Typographic tweaks!
               3. Add accessible line-height
               4. Improve text rendering
             */
             body {
               line-height: 1.5;
               -webkit-font-smoothing: antialiased;
             }
             /*
               5. Improve media defaults
             */
             img, picture, video, canvas, svg {
               display: block;
               max-width: 100%;
             }
             /*
               6. Remove built-in form typography styles
             */
             input, button, textarea, select {
               font: inherit;
             }
             /*
               7. Avoid text overflows
             */
             p, h1, h2, h3, h4, h5, h6 {
               overflow-wrap: break-word;
             }
             /*
               8. Create a root stacking context
             */
             #root, #__next {
               isolation: isolate;
             }






/* ------------------------- MY OWN STYLE ---------------------------- */
/* ----index---- */
:root{
               --primarycolor:#B2D3C4;
               --secondarycolor:#294A3B;
               --tertiarycolor:#0B384B;
               --primary-font: 'kadwa';
               --secondary-font: 'Libre Baskerville';
}


header{
               background-color: var(--primarycolor);
              
}
body{
               font-family: var(--primary-font) !important;
               color: var(--secondarycolor) !important;

}
.banner{
               
               display: flex;
               flex-direction: column;
               align-items: center;
               color: var(--secondarycolor) !important;
}
.icon_container{
  width: 50px;
}
ul a{
  color: var(--secondarycolor) !important;
}

               
p{
               text-align: center;
}
button{
               background-color: var(--tertiarycolor);
               color: white;
               padding: 6px 28px 6px 28px;
               border: var(--tertiarycolor), solid;
               border-radius: 50px !important;
               
               
}

ul{
  color: var(--secondarycolor);
}
footer img{
  height: 30px !important;
}


footer{
               background-color: var(--primarycolor);
}